* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif; }

body .padre-principal .imagen-fondo {
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%; }
  body .padre-principal .imagen-fondo img {
    height: 100%;
    width: 100%; }

header .menu-fondo {
  background: black;
  box-shadow: 0 10px 20px #940802; }

header .color-font {
  color: white; }

header .color-font:hover {
  background-color: #940802;
  border-radius: 10px; }

header .col-icon {
  color: white; }

header .col-icon:hover {
  color: white; }

header .pages-edit {
  color: white; }

header .pages-edit:hover {
  background-color: #940802; }

footer {
  background: black;
  color: white;
  opacity: 0.8;
  box-shadow: 0 -10px 20px #940802;
  text-align: center;
  padding: 0.5em 0; }
  footer p {
    margin-top: 1em;
    margin-bottom: 0.5em; }
  footer .contacto a {
    text-decoration: none;
    font-size: 2em;
    margin: 1em 0;
    color: white;
    opacity: 0.7; }

body .imagen-fondo {
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100vh; }
  body .imagen-fondo img {
    object-fit: cover; }

main .padre-index {
  display: flex;
  width: 100%;
  animation-name: aparecer;
  animation-duration: 3.5s; }
  main .padre-index .form-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
    padding-bottom: 2em; }
    main .padre-index .form-text .textos {
      font-family: 'Times New Roman';
      text-align: center;
      color: white;
      margin-left: 0.2em;
      margin-right: 0.2em;
      margin-bottom: 2em; }
      main .padre-index .form-text .textos h1 {
        font-family: 'Anton', sans-serif;
        font-size: 4em;
        margin-top: 0.2em; }
      main .padre-index .form-text .textos h2 {
        font-family: 'Anton', sans-serif;
        font-size: 3em; }
    main .padre-index .form-text .darth-icon-movil {
      display: none; }
    main .padre-index .form-text .form {
      box-shadow: 0px 0px 15px 2px #940802;
      width: 80%;
      text-align: center; }
      main .padre-index .form-text .form fieldset {
        height: 8em;
        text-align: center;
        font-size: 2em;
        color: white; }
        main .padre-index .form-text .form fieldset legend {
          font-family: 'Anton', sans-serif;
          color: white;
          background: #940802;
          font-size: 1em; }
        main .padre-index .form-text .form fieldset .name label {
          font-family: 'Anton', sans-serif;
          display: block; }
        main .padre-index .form-text .form fieldset .surname label {
          font-family: 'Anton', sans-serif;
          display: block; }
      main .padre-index .form-text .form span {
        text-align: center; }
        main .padre-index .form-text .form span button {
          font-family: 'Anton', sans-serif;
          height: 3em;
          color: black;
          margin: 1em 0.5em;
          font-size: 1.5em;
          padding: 0 0.5em;
          box-shadow: 5px 4px 3px black; }
  main .padre-index .darth-vader {
    width: 55%; }
    main .padre-index .darth-vader img {
      height: 100%;
      width: 100%; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@media screen and (max-width: 992px) {
  main .padre-index {
    flex-direction: column;
    align-items: center; }
    main .padre-index .form-text {
      flex-direction: column-reverse;
      width: 100%; }
      main .padre-index .form-text .textos {
        font-size: 1em;
        margin-bottom: 0; }
      main .padre-index .form-text .form {
        width: 70%; }
    main .padre-index .darth-vader {
      width: 80%; } }

@media screen and (max-width: 600px) {
  main .padre-index .form-text {
    flex-direction: column; }
    main .padre-index .form-text .darth-icon-movil {
      display: inline;
      width: 60%;
      margin: 1em; }
      main .padre-index .form-text .darth-icon-movil img {
        height: 100%;
        width: 100%; }
    main .padre-index .form-text .textos h1 {
      font-size: 2em; }
    main .padre-index .form-text .textos h2 {
      font-size: 2em; }
    main .padre-index .form-text .form fieldset {
      font-size: 1.5em; }
    main .padre-index .form-text .form span button {
      font-size: 1em; }
  main .padre-index .darth-vader {
    display: none; } }

@media screen and (max-width: 400px) {
  main .padre-index .form-text {
    flex-direction: column; }
    main .padre-index .form-text .darth-icon-movil {
      display: inline;
      width: 60%;
      margin: 1em; }
      main .padre-index .form-text .darth-icon-movil img {
        height: 100%;
        width: 100%; }
    main .padre-index .form-text .textos h1 {
      font-size: 1.5em; }
    main .padre-index .form-text .textos h2 {
      font-size: 1.5em; }
    main .padre-index .form-text .form fieldset {
      font-size: 1em; }
    main .padre-index .form-text .form span button {
      font-size: 0.7em;
      padding: 0.5em; } }

main h1 {
  font-family: 'Anton', sans-serif;
  text-align: center;
  margin-top: 0.8em; }

main .padre-perfil {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  margin: 2em;
  padding: 1em 0; }
  main .padre-perfil .perfil {
    background: #fafafa10;
    border: solid 1px #fafafa10;
    backdrop-filter: blur(10px);
    border-radius: 15px;
    display: flex;
    height: 300px;
    width: 80%; }
    main .padre-perfil .perfil .img-perfil {
      height: 100%;
      border-radius: 15px 0 0 15px;
      width: 30%; }
      main .padre-perfil .perfil .img-perfil img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
        border-radius: 15px 0 0 15px; }
    main .padre-perfil .perfil .info {
      margin-left: 1em;
      width: 70%; }

@media screen and (max-width: 800px) {
  main .padre-perfil .perfil {
    width: 100%; }
    main .padre-perfil .perfil .info {
      width: 60%; }
    main .padre-perfil .perfil .img-perfil {
      width: 40%; } }

@media screen and (max-width: 600px) {
  main .padre-perfil .perfil {
    height: 200px;
    width: 100%; }
    main .padre-perfil .perfil .img-perfil {
      height: 200px; }
    main .padre-perfil .perfil .info h2 {
      font-size: 12px; }
    main .padre-perfil .perfil .info p {
      font-size: 12px; } }

@media screen and (max-width: 500px) {
  main .padre-perfil .perfil {
    height: 150px;
    width: 100%;
    transition: all 200ms ease;
    overflow: hidden; }
    main .padre-perfil .perfil:hover {
      height: 200px;
      width: 110%; }
    main .padre-perfil .perfil .info {
      margin-left: 2px; }
      main .padre-perfil .perfil .info h2 {
        font-size: 10px; }
      main .padre-perfil .perfil .info p {
        font-size: 10px; } }

main .peliculas {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  main .peliculas h1 {
    font-family: 'Anton', sans-serif;
    color: white;
    opacity: 0.7; }
  main .peliculas .carousel {
    background: #fafafa10;
    border: solid 1px #fafafa10;
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1em 2em;
    height: 400px;
    width: 76%;
    border-radius: 15px;
    padding: 1em 0; }
    main .peliculas .carousel .carousel-inner {
      width: 80%;
      height: 100%; }
      main .peliculas .carousel .carousel-inner .carousel-item {
        width: 100%;
        height: 100%; }
        main .peliculas .carousel .carousel-inner .carousel-item img {
          width: 100%;
          height: 100%; }

main .padre-entrete {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  main .padre-entrete .videojuegos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    height: 400px;
    width: 80%;
    margin: 1.5em;
    padding: 1.5em; }
    main .padre-entrete .videojuegos .jedi-fallen {
      background: #fafafa10;
      border: solid 1px #fafafa10;
      backdrop-filter: blur(10px);
      border-radius: 15px;
      padding: 2em;
      height: 100%;
      width: 100%; }
      main .padre-entrete .videojuegos .jedi-fallen img {
        width: 100%;
        height: 100%; }
      main .padre-entrete .videojuegos .jedi-fallen a {
        text-decoration: none;
        color: white; }
        main .padre-entrete .videojuegos .jedi-fallen a p {
          text-align: center; }
    main .padre-entrete .videojuegos .battle-front {
      background: #fafafa10;
      border: solid 1px #fafafa10;
      backdrop-filter: blur(10px);
      border-radius: 15px;
      padding: 2em;
      height: 100%;
      width: 100%; }
      main .padre-entrete .videojuegos .battle-front img {
        width: 100%;
        height: 100%; }
      main .padre-entrete .videojuegos .battle-front a {
        text-decoration: none;
        color: white; }
        main .padre-entrete .videojuegos .battle-front a p {
          text-align: center; }
    main .padre-entrete .videojuegos .force-unleashed {
      background: #fafafa10;
      border: solid 1px #fafafa10;
      backdrop-filter: blur(10px);
      border-radius: 15px;
      padding: 2em;
      height: 100%;
      width: 100%; }
      main .padre-entrete .videojuegos .force-unleashed img {
        width: 100%;
        height: 100%; }
      main .padre-entrete .videojuegos .force-unleashed a {
        text-decoration: none;
        color: white; }
        main .padre-entrete .videojuegos .force-unleashed a p {
          text-align: center; }
  main .padre-entrete .series {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    height: 250px;
    width: 80%;
    margin: 1.5em;
    padding: 1.5em; }
    main .padre-entrete .series .mandalorian {
      background: #fafafa10;
      border: solid 1px #fafafa10;
      backdrop-filter: blur(10px);
      border-radius: 15px;
      height: 100%;
      width: 100%;
      padding: 2em; }
      main .padre-entrete .series .mandalorian img {
        width: 100%;
        height: 100%; }
      main .padre-entrete .series .mandalorian a {
        text-decoration: none;
        color: white; }
        main .padre-entrete .series .mandalorian a p {
          text-align: center; }
    main .padre-entrete .series .clone-wars {
      background: #fafafa10;
      border: solid 1px #fafafa10;
      backdrop-filter: blur(10px);
      height: 100%;
      width: 100%;
      padding: 2em;
      border-radius: 15px; }
      main .padre-entrete .series .clone-wars img {
        height: 100%;
        width: 100%; }
      main .padre-entrete .series .clone-wars a {
        text-decoration: none;
        color: white; }
        main .padre-entrete .series .clone-wars a p {
          text-align: center; }
    main .padre-entrete .series .rebels {
      background: #fafafa10;
      border: solid 1px #fafafa10;
      backdrop-filter: blur(10px);
      height: 100%;
      width: 100%;
      padding: 2em;
      border-radius: 15px; }
      main .padre-entrete .series .rebels img {
        height: 100%;
        width: 100%; }
      main .padre-entrete .series .rebels a {
        text-decoration: none;
        color: white; }
        main .padre-entrete .series .rebels a p {
          text-align: center; }

@media screen and (max-width: 992px) {
  main .peliculas .carousel {
    height: 300px;
    width: 80%; }
  main .padre-entrete .videojuegos {
    height: 200px;
    width: 80%; }
    main .padre-entrete .videojuegos .force-unleashed {
      padding: 0; }
      main .padre-entrete .videojuegos .force-unleashed img {
        border-radius: 15px; }
    main .padre-entrete .videojuegos .battle-front {
      padding: 0; }
      main .padre-entrete .videojuegos .battle-front img {
        border-radius: 15px; }
    main .padre-entrete .videojuegos .jedi-fallen {
      padding: 0; }
      main .padre-entrete .videojuegos .jedi-fallen img {
        border-radius: 15px; }
  main .padre-entrete .series {
    height: 150px;
    width: 80%; }
    main .padre-entrete .series .clone-wars {
      padding: 0; }
      main .padre-entrete .series .clone-wars img {
        border-radius: 15px; }
    main .padre-entrete .series .rebels {
      padding: 0; }
      main .padre-entrete .series .rebels img {
        border-radius: 15px; }
    main .padre-entrete .series .mandalorian {
      padding: 0; }
      main .padre-entrete .series .mandalorian img {
        border-radius: 15px; } }

@media screen and (max-width: 600px) {
  main .peliculas .carousel {
    height: 260px;
    width: 85%;
    margin-bottom: 6em; }
  main .padre-entrete {
    margin: 5em 0;
    flex-direction: column-reverse; }
    main .padre-entrete .videojuegos {
      width: 90%;
      height: 300px;
      gap: 0.5em; }
    main .padre-entrete .series {
      flex-direction: column;
      height: 250px;
      width: 90%;
      margin-top: 5em;
      margin-bottom: 14em;
      gap: 20%; } }

@media screen and (max-width: 400px) {
  main .peliculas .carousel {
    width: 90%;
    height: 210px;
    margin-bottom: 1em; }
  main .padre-entrete .series {
    width: 100%;
    height: 180px;
    margin-bottom: 9em; }
  main .padre-entrete .videojuegos {
    width: 100%;
    height: 200px; }
    main .padre-entrete .videojuegos p {
      font-size: 10px; } }

body .imagen-fondo {
  position: fixed;
  width: 100%;
  height: 100%; }
  body .imagen-fondo img {
    width: 100%;
    height: 100%; }

main {
  animation-name: aparecerP;
  animation-duration: 1s; }
  main .titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 5%; }
    main .titulo h1 {
      font-family: 'Anton', sans-serif;
      color: white;
      opacity: 0.6;
      padding: 5% 0; }
    main .titulo .img-titulo {
      position: absolute;
      z-index: -1;
      width: 70%; }
      main .titulo .img-titulo img {
        width: 100%;
        opacity: 0.7;
        border-radius: 15px; }
  main .padre-galeri {
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    height: auto;
    margin: 2em 2em 3em 2em;
    padding: 0.5em;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(4, 300px);
    border-radius: 15px;
    box-shadow: 0px 0px 15px 3px #940802; }
    main .padre-galeri .img-1 {
      grid-column: span 2;
      height: 100%;
      width: 100%; }
      main .padre-galeri .img-1 img {
        width: 100%;
        height: 100%;
        border-radius: 15px; }
    main .padre-galeri .img-2 {
      width: 100%;
      height: 100%; }
      main .padre-galeri .img-2 img {
        width: 100%;
        height: 100%;
        border-radius: 15px;
        object-fit: cover;
        object-position: center; }
    main .padre-galeri .img-3 {
      width: 100%;
      height: 100%;
      grid-row: span 2; }
      main .padre-galeri .img-3 img {
        height: 100%;
        width: 100%;
        border-radius: 15px; }
    main .padre-galeri .img-4 {
      width: 100%;
      height: 100%; }
      main .padre-galeri .img-4 img {
        width: 100%;
        height: 100%;
        border-radius: 15px; }
    main .padre-galeri .img-5 {
      width: 100%;
      height: 100%;
      grid-column: span 2;
      grid-row: span 1; }
      main .padre-galeri .img-5 img {
        width: 100%;
        height: 100%;
        border-radius: 15px;
        object-fit: cover;
        object-position: top; }

@keyframes aparecerP {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@media screen and (max-width: 992px) {
  main .padre-galeri {
    grid-template-rows: repeat(4, 200px); } }

@media screen and (max-width: 600px) {
  main .padre-galeri {
    grid-template-rows: repeat(4, 150px); } }

@media screen and (max-width: 400px) {
  main .padre-galeri {
    grid-template-columns: 100%;
    grid-template-rows: repeat(3, 150px); }
    main .padre-galeri .img-3 {
      display: none; } }

@media screen and (max-width: 321px) {
  main .padre-galeri {
    grid-template-rows: repeat(3, 120px); } }

main .padre-m {
  display: flex;
  flex-direction: column;
  text-align: center; }
  main .padre-m .musica-coder {
    color: white;
    font-size: 2.5em;
    opacity: 0.7; }
  main .padre-m .galeria-conten.mobile-none {
    display: none; }
  main .padre-m .galeria-conten {
    background: #fafafa10;
    border: solid 1px #fafafa10;
    backdrop-filter: blur(10px);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    margin: 2em; }
    main .padre-m .galeria-conten .img-txt {
      transition: all 200ms ease; }
      main .padre-m .galeria-conten .img-txt:hover {
        transform: scale(1.1); }
        main .padre-m .galeria-conten .img-txt:hover p {
          color: #940802; }
      main .padre-m .galeria-conten .img-txt img {
        height: 100%;
        width: 100%; }
      main .padre-m .galeria-conten .img-txt a {
        text-decoration: none;
        color: white; }
        main .padre-m .galeria-conten .img-txt a p {
          font-size: 1em; }

@media screen and (min-width: 992px) {
  main .padre-m .galeria-conten {
    flex-direction: row;
    gap: 1em;
    margin: 1em; }
  main .padre-m .galeria-conten.mobile-none {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    margin: 1em; } }
