// desktop first
body{
    .imagen-fondo{
        position: fixed;
        z-index: -1;
        width: 100%;
        height: 100vh;
        img{
            
            object-fit: cover;
        }
    }
}
main{
    .padre-index{
        display: flex;
        width: 100%;
        animation-name: aparecer;
        animation-duration: 3.5s;
        
        .form-text{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 45%;
            padding-bottom: 2em;
            .textos{
                font-family: 'Times New Roman';
                text-align: center;
                color: white;
                margin-left: 0.2em;
                margin-right: 0.2em;
                margin-bottom: 2em;
                h1{
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    font-size: 4em;
                    margin-top: 0.2em;
                }
                h2{
                    font-size: 3em;
                }
            }
            .darth-icon-movil{
                display: none;
            }
            .form{
                
                box-shadow: 0px 0px 15px 2px #940802 ;
                width: 80%;
                text-align: center;
                fieldset{
                    height: 8em;
                    text-align: center;
                    font-size: 2em;
                    color: white;
                    legend{
                        color: white;
                        background: #940802;
                        font-size: 1em;
                    }
                    .name{
                        label{
                            display: block;
                        }
                    }
                    .surname{
                        label{
                            display: block;
                        }
                    }
                }
                span{
                    text-align: center;
                    button{
                        height: 3em;
                        color: black    ;
                        margin: 1em 0.5em;
                        font-size: 1.5em;
                        padding: 0 0.5em;
                        box-shadow: 5px 4px 3px black; ;
                    }
                }
            }
        }
        .darth-vader{
            width: 55%;
            img{
                height: 100%;
                width: 100%;
                
            } 
        }
    }
}
@keyframes aparecer{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@media screen and (max-width:992px){
    main{
        .padre-index{
            flex-direction: column;
            align-items: center;
            .form-text{
                flex-direction: column-reverse;
                width: 100%;
                .textos{    
                    font-size: 1em;
                    margin-bottom: 0;
                }
                .form{
                    width: 70%;
                }
            }
            .darth-vader{
                width: 80%;
            }
        }
    }
}
@media screen and (max-width:600px){
    main{
        .padre-index{
            .form-text{
                flex-direction: column;
                .darth-icon-movil{
                    display: inline;
                    width: 60%;
                    margin: 1em;
                    img{
                        height: 100%;
                        width: 100%;
                    }
                }
                .textos{
                    h1{
                        font-size: 2em;
                    }
                    h2{
                        font-size: 2em;
                    }
                }
                .form{
                    fieldset{
                        font-size: 1.5em;
                    }
                    span{
                        button{
                            font-size: 1em;
                        }
                    }
                }
            }
            .darth-vader{
                display: none;
            }
        }
    }
}
@media screen and (max-width:400px){
    main{
        .padre-index{
            .form-text{
                flex-direction: column;
                .darth-icon-movil{
                    display: inline;
                    width: 60%;
                    margin: 1em;
                    img{
                        height: 100%;
                        width: 100%;
                    }
                }
                .textos{
                    h1{
                        font-size: 1.5em;
                    }
                    h2{
                        font-size: 1.5em;
                    }
                }
                .form{
                    fieldset{
                        font-size: 1em;
                    }
                    span{
                        button{
                            font-size: 0.7em;
                            padding: 0.5em;
                        }
                    }
                }
            }
        }
    }

}