main{
    .peliculas{
        h1{
            font-family: 'Anton', sans-serif;
            color: white;
            opacity: 0.7;

        }
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .carousel{
            background: #fafafa10;
            border: solid 1px #fafafa10 ;
            backdrop-filter: blur(10px);
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 1em 2em;
            height: 400px;
            width: 76%;
            border-radius: 15px;
            padding: 1em 0;
            .carousel-inner{
                width: 80%;
                height: 100%;
                .carousel-item{
                    width: 100%;
                    height: 100%;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
    .padre-entrete{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .videojuegos{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10%;
            height: 400px;
            width: 80%;
            margin: 1.5em;
            padding: 1.5em;
            .jedi-fallen{
                background: #fafafa10;
                border: solid 1px #fafafa10 ;
                backdrop-filter: blur(10px);
                border-radius: 15px;
                padding: 2em;
                height: 100%;
                width: 100%;
                img{
                    width: 100%;
                    height: 100%;
                }
                a{
                    text-decoration: none;
                    color: white;
                    p{
                        text-align: center;
                    }
                }

            }
            .battle-front{
                background: #fafafa10;
                border: solid 1px #fafafa10 ;
                backdrop-filter: blur(10px);
                border-radius: 15px;
                padding: 2em;
                height: 100%;
                width: 100%;
                img{
                    width: 100%;
                    height: 100%;
                }
                a{
                    text-decoration: none;
                    color: white;
                    p{
                        text-align: center;
                    }
                }
            }
            .force-unleashed{
                background: #fafafa10;
                border: solid 1px #fafafa10 ;
                backdrop-filter: blur(10px);
                border-radius: 15px;
                padding: 2em;
                height: 100%;
                width: 100%;
                img{
                    width: 100%;
                    height: 100%;
                }
                a{
                    text-decoration: none;
                    color: white;
                    p{
                        text-align: center;
                    }
                }
            }


        }
        .series{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10%;
            height: 250px;
            width: 80%;
            margin: 1.5em;
            padding: 1.5em;
            .mandalorian{
                background: #fafafa10;
                border: solid 1px #fafafa10 ;
                backdrop-filter: blur(10px);
                border-radius: 15px;
                height: 100%;
                width: 100%;
                padding: 2em;
                img{
                    width: 100%;
                    height: 100%;
                }
                a{
                    text-decoration: none;
                    color: white;
                    p{
                        text-align: center;
                    }
                }
            }
            .clone-wars{
                background: #fafafa10;
                border: solid 1px #fafafa10 ;
                backdrop-filter: blur(10px);
                height: 100%;
                width: 100%;
                padding: 2em;
                border-radius: 15px;
                img{
                    height: 100%;
                    width: 100%;
                }
                a{
                    text-decoration: none;
                    color: white;
                    p{
                        text-align: center;
                    }
                }
            }
            .rebels{
                background: #fafafa10;
                border: solid 1px #fafafa10 ;
                backdrop-filter: blur(10px);
                height: 100%;
                width: 100%;
                padding: 2em;
                border-radius: 15px;
                img{
                    height: 100%;
                    width: 100%;
                }
                a{
                    text-decoration: none;
                    color: white;
                    p{
                        text-align: center;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:992px){
    main{
        .peliculas{
           .carousel{
            height: 300px;
            width: 80%;
           }
        }
        .padre-entrete{
            .videojuegos{
                height: 200px;
                width: 80%;
                .force-unleashed{
                    padding: 0;
                    img{
                        border-radius: 15px;
                    }
                }
                .battle-front{
                    padding: 0;
                    img{
                        border-radius: 15px;
                    }
                }
                .jedi-fallen{
                    padding: 0;
                    img{
                        border-radius: 15px;
                    }
                }
            }
            .series{
                height: 150px;
                width: 80%;
                .clone-wars{
                    padding: 0;
                    img{
                        border-radius: 15px;
                    }
                }
                .rebels{
                    padding: 0;
                    img{
                        border-radius: 15px;
                    }
                }
                .mandalorian{
                    padding: 0;
                    img{
                        border-radius: 15px;
                    }
                }
            }
        }
    }
}
@media screen and (max-width:600px){
    main{
        .peliculas{
           .carousel{
            height: 260px;
            width: 85%;
            margin-bottom: 6em;
           }
        }
        .padre-entrete{
            margin: 5em 0;
            flex-direction: column-reverse;
            .videojuegos{
                width: 90%;
                height: 300px;
                gap: 0.5em;
            }
            .series{
                flex-direction: column;
                height: 250px;
                width: 90%;
                margin-top: 5em;
                margin-bottom: 14em;
                gap: 20%;
            }
        }
    }
}
@media screen and (max-width:400px){
    main{
        .peliculas{
            .carousel{
                width: 90%;
                height: 210px;
                margin-bottom: 1em;
            }
        }
        .padre-entrete{
            .series{
                width: 100%;
                height: 180px;
                margin-bottom: 9em;
            }
            .videojuegos{
                width: 100%;
                height: 200px;
                p{
                    font-size: 10px;
                }
            }
        }
    }
}